<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="bg">
        <div class="navbar">
            <h1 class="logo">iCodeGuru</h1>
        
            <ul>
                <li><a href="home.html">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="feedback.html">Feedback</a></li>
            </ul>
        </div>
        <div class="center">
            <h1>Welcome To iCodeGuru</h1>
            <h2>Grow Professionally. Share, Learn and Grow.</h2>
            <ul>
                <li><a href="join.html">Join Now</a></li>
                <li><a href="#">More Details</a></li>
            </ul>
        </div>
    </div>
</body>
</html>